@import "tailwindcss";

@theme inline {
  --font-sans: var(--local-font-lufga);
  --color-primary: #38bdf8;
  --spacing-custom-container: 1440px;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
